.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--eerie-black);
  padding-block: 24px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active {
  background-color: var(--raisin-black);
  padding-block: 16px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: var(--radius-circle);
  display: grid;
  place-content: center;
  gap: 8px;
  transition: var(--transition-1);
  z-index: 2;
}

.nav-toggle-btn:is(:hover,:focus-visible) {gap: 10px;}

.nav-toggle-btn.header.active {gap: 8px;}

.nav-toggle-btn .line {
  width: 25px;
  height: 2px;
  background-color: var(--black);
  transition: var(--transition-1);
}

.nav-toggle-btn.active {
  background-color: var(--eerie-black);
}

.nav-toggle-btn.active .line-1 {
  background-color: var(--white);
  transform: rotate(45deg) translate(4px, 4px);
}

.nav-toggle-btn.active .line-2 {
  background-color: var(--white);
  transform: rotate(-45deg) translate(3px, -2px);
}

.navbar {
  position: absolute;
  top: 0;
  right: -370px;
  width: 100%;
  background-color: var(--white);
  height: 100vh;
  text-align: center;
  padding: 90px 40px;
  visibility: hidden;
  transition: .5s var(--cubic-in);
  z-index: 1;
}

.navbar.active {
  transform: translateX(-370px);
  visibility: visible;
  transition-timing-function: var(--cubic-out);
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: var(--raisin-black);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) {
  background-color: var(--white);
  text-shadow: 1px 0 0 var(--eerie-black);
}
