<section class="portfolio">
<div class="container">
  <div class="title-wrapper container">
    <div>
      <p class="section-subtitle">This is a showcase of my recent work</p>
      <h2 class="h2 section-title">Portfolio</h2>
    </div>
  </div>
  <div class="slider">
    <swiper-container class="slider-container" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
      <swiper-slide *ngFor="let project of projects()">
        <app-project [project]="project"></app-project>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
</section>
