.portfolio .slider { --item-gap: 16px}

.portfolio .container {
  margin-top: 95px;
}


swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-container::part(pagination) {
  display: none;
}
