<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li>
        <p class="h4 footer-list-title">Get in touch</p>
      </li>
      <li>
        <a href="mailto:info@iscodelcollado.com" class="footer-link btn has-before">info&#64;iscodelcollado.com</a>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <p class="h4 footer-list-title">Location</p>
      </li>
      <li>
        <a href="https://www.google.com.mx/maps/place/Ciudad+de+M%C3%A9xico,+CDMX/@19.3906594,-99.3084269,11z/data=!3m1!4b1!4m6!3m5!1s0x85ce0026db097507:0x54061076265ee841!8m2!3d19.4326077!4d-99.133208!16zL20vMDRzcWo" class="footer-link">Mexico City - Mexico</a>
      </li>
    </ul>
    <ul class="social-list">
      <li>
        <a href="https://github.com/pakolalo" class="social-link">
          <img [src]="gitHubLogo" alt="Git Hub Logo">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/iscodelcollado/" class="social-link">
          <img [src]="linkedinLogo" alt="LinkedIn Logo">
        </a>
      </li>
    </ul>
    <p class="footer-link rights">&copy; Isco del Collado 2024</p>
  </div>
</footer>
