<section class="service">
  <div class="container">
    <div class="title-wrapper">
      <div>
        <p class="section-subtitle">
          My
        </p>
        <h2 class="h2 section-title">
          Services
        </h2>
      </div>
    </div>
    <div class="slider">
      <ul class="slider-container service-list">
        <li class="slider-item">
          <div class="service-card">
            <div class="service-icon">
              <img class="service-imgB" [src]="development" alt="Terminal image">
              <img class="service-imgW" [src]="developmentW" alt="Terminal image">
            </div>
            <h3 class="h3 card-title">Website / Web App Development</h3>
            <p class="text-lg card-number">01</p>
          </div>
        </li>
        <li class="slider-item">
          <div class="service-card">
            <div class="service-icon">
              <img class="service-imgB" [src]="design" alt="Edit image">
              <img class="service-imgW" [src]="designW" alt="Edit image">
            </div>
            <h3 class="h3 card-title">Website Design</h3>
            <p class="text-lg card-number">02</p>
          </div>
        </li>
        <li class="slider-item">
          <div class="service-card">
            <div class="service-icon">
              <img class="service-imgB" [src]="seo" alt="SEO chart">
              <img class="service-imgW" [src]="seoW" alt="SEO chart">
            </div>
            <h3 class="h3 card-title">SEO Marketing</h3>
            <p class="text-lg card-number">03</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
