<section class="skills">
  <div class="container">
    <p class="section-subtitle">
      Something about me and my
    </p>
    <h2 class="h2 section-title">Skills</h2>
    <div class="skills-wrapper">
      <div>
        <p class="section-text">
          I create responsive websites that are fast, easy to use, and built with the best practices. The main area of my expertise is frontend development, HTML, CSS, JavaScript, TypeScript and Angular.
        </p>
        <p class="section-text">
          I´m a well-organised person, problem solver, with high attention to detail. Fan of F1, video games and TV series.
        </p>
        <a routerLink="/" class="btn has-before">Go to top</a>
      </div>
      <div>
        <ul class="skills-list">
          <li>
            <div class="progress-wrapper">
              <p class="progress-label">HTML5</p>
              <data class="progress-value" value="92"></data>
            </div>
            <div class="progress-bg">
              <div class="progress" style="width: 92%;"></div>
            </div>
          </li>
          <li>
            <div class="progress-wrapper">
              <p class="progress-label">CSS3</p>
              <data class="progress-value" value="95"></data>
            </div>
            <div class="progress-bg">
              <div class="progress" style="width: 95%;"></div>
            </div>
          </li>
          <li>
            <div class="progress-wrapper">
              <p class="progress-label">JavaScript</p>
              <data class="progress-value" value="89"></data>
            </div>
            <div class="progress-bg">
              <div class="progress" style="width: 89%;"></div>
            </div>
          </li>
          <li>
            <div class="progress-wrapper">
              <p class="progress-label">TypeScript</p>
              <data class="progress-value" value="85"></data>
            </div>
            <div class="progress-bg">
              <div class="progress" style="width: 85%;"></div>
            </div>
          </li>
          <li>
            <div class="progress-wrapper">
              <p class="progress-label">Angular</p>
              <data class="progress-value" value="85"></data>
            </div>
            <div class="progress-bg">
              <div class="progress" style="width: 85%;"></div>
            </div>
          </li>
          <li>
            <div class="progress-wrapper">
              <p class="progress-label">Design</p>
              <data class="progress-value" value="95"></data>
            </div>
            <div class="progress-bg">
              <div class="progress" style="width: 95%;"></div>
            </div>
          </li>
          <li>
            <div class="progress-wrapper">
              <p class="progress-label">SEO</p>
              <data class="progress-value" value="92"></data>
            </div>
            <div class="progress-bg">
              <div class="progress" style="width: 92%;"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
